body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url('img2.png');
    background-size: cover; 

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.home {
    background-image: url('img.png');
}

header, main, footer {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px; 
    max-width: 800px; 
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline; 
    color: #ffca28; 
}

.menu-item {
    margin-bottom: 15px;
    font-size: 1.2em;
}

input[type=number] {
    width: 50px;
    margin-left: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ffca28;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

button:hover {
    background-color: #ffc107;
}